@import "tailwindcss";
tr:nth-child(even) {
  background-color: #f4f5fa;
}

option {
  color: #2d45a7;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}
.animate-slideIn {
  animation: slideIn 0.5s ease-out;
}
.delay-300 {
  animation-delay: 0.3s;
}
.responsive-table td {
  min-width: 200px;
}


@layer base {

  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}


/* For Chrome, Edge, Safari */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  /* makes dark icon → white */
  cursor: pointer;
  
}

/* For Firefox (only works partially) */
input[type="date"],
input[type="time"] {
  color-scheme: black;
}

