@import "tailwindcss";

tr:nth-child(even) {
  background-color: #f4f5fa;
}

option {
  color: #2d45a7;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}

.animate-slideIn {
  animation: slideIn 0.5s ease-out;
}

.delay-300 {
  animation-delay: 0.3s;
}

.responsive-table td {
  min-width: 180px;
}

@layer base {
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

/* For Chrome, Edge, Safari */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  /* makes dark icon → white */
  cursor: pointer;
}

/* For Firefox (only works partially) */
input[type="date"],
input[type="time"] {
  color-scheme: black;
}

.plan-sidebar {
  width: 300px;
}

@media only screen and (max-width: 1024px) {
  .mob-block {
    display: block;
  }
  .mob-block > div {
    justify-content: center;
  }
  .table-sec tr th {
    min-width: 241px;
  }
  .grid-colun-mob {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .grid-colun-mob > div {
    width: 100%;
    /* display: block; */
    flex-direction: column;
  }
}

.table-space td,
th {
  padding: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 976px) {
  .mobil-popup {
    margin-bottom: 20px;
  }

  .mob-left {
    left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .all-title {
    width: 100%;
  }
  .form-filed {
    padding: 19px 10px;
  }

  .mob-view-btn {
    display: block !important;
  }

  .footer-logo {
    margin: 0 auto;
  }

  .mob-left {
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .mobil-block {
    flex-direction: column;
  }
}

input#attachment {
  width: 100%;
}

.mob-view-btn {
  display: none;
}

.list-table td {
  min-width: 200px;
}
.sidebar-height {
  height: 697px;
  overflow-y: auto;
  overflow-x: hidden;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #ba6a72 transparent;
}

/* Chrome, Edge, Safari */
.sidebar-height::-webkit-scrollbar {
  width: 4px; /* thinner scrollbar */
}

.sidebar-height::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-height::-webkit-scrollbar-thumb {
  background-color: #ba6a72; /* your color */
  border-radius: 10px;
}

.sidebar-height::-webkit-scrollbar-thumb:hover {
  background-color: #a85b63; /* slightly darker on hover */
}
